// COLORS
$primary-color: #3498db;
$background-color: #ebebeb;
$text-color: #333333;
$heading-color: #464e8533;


// FONT FAMILY
$base-font-family: "Arial", sans-serif;
$heading-font-family: "DM Sans", sans-serif;
